html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.btn {
  line-height: 25px;
  border-radius: 2px;
  padding: 1px 10px;
  border: 1px solid #dcdcdc;
}
body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  padding: 0px;
  .header {
    padding: 20px 40px;
    border-bottom: 2px solid #dfdfdf;
  }
  #app {
    height: 100%;
    > .row {
      margin: 0;
      height: 100%;
    }
    > .row > .col-lg-6 {
      h3 {
        margin: 70px;
        font-weight: bold;
      }
      min-height: calc(100% - 55px);
    }
    .form-email {
      display: block;
      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #cccccc;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #cccccc;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: #cccccc;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: #cccccc;
      }
      .width-650 {
        max-width: 650px;
        margin: auto;
        > .col-lg-12 {
          margin: 50px 0;
          padding: 0;
        }
        p.or {
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #ced4da;
          line-height: 0.1em;
          color: #ced4da;
          margin: 10px 0 20px;
          span {
            background: #fff;
            padding: 0 10px;
          }
        }
        .submit-email {
          width: 100%;
          background: #b37b99;
          color: #fff;
          border: none;
          font-weight: bold;
          height: 100%;
          padding: 7px;
          letter-spacing: 2px;
        }
        .submit-email:hover {
          background: #802854;
        }
        form.gmail {
          input.form-control {
            width: calc(100% - 125px);
          }
          span.input-group-addon {
            width: 125px;
          }
        }
        form.gdc {
          input.form-control {
            width: calc(100% - 195px);
          }
          span.input-group-addon {
            width: 195px;
          }
        }
        input.form-control {
          border-right: none;
          height: 55px;
          padding-left: 8px;
        }
        span.input-group-addon {
          height: 55px;
          border-left: none;
          padding-top: 15px;
        }
      }
    }
    .bg-grey {
      background: #f7f7f7;
    }
    .log-container {
      ul {
        margin-left: 0;
        padding: 0 42px;
        li {
          list-style-type: none;
          padding: 25px 20px;
          background: #fff;
          margin: 20px 0;
          border-radius: 2px;
          box-shadow: 0 1px 6px #c5c5c5;
        }
        .unknown {
          color: #d87171;
        }
        .member {
          color: #8bcda7;
        }
      }
    }
  }
  .btn {
    font-size: 14px;
  }
}
